In [42]:
import pandas as pd
import sklearn.linear_model as lm
import sklearn.model_selection
import sklearn.metrics
import sklearn.dummy
import matplotlib.pyplot as plt

In [43]:
chicago = pd.read_csv('../../../data/chicagohouseprices2.csv', index_col=0).dropna()

In [66]:
chicago.describe()

,Price,Bath,CrimeIndex,MinutesToLoop,MilesToLake,Age,LotSizeSqft,HouseSizeSqft,SchoolIndex,EstimatedPrice
count,6.900000e+01,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,6.900000e+01
mean,7.348043e+05,2.260870,4.783623,9.463768,3.402174,78.072464,2733.579710,2181.420290,47.375362,7.421902e+05
std,6.167301e+05,0.885374,1.218092,1.890998,0.359709,55.082110,996.344767,1031.613605,18.107022,5.997353e+05
min,2.160000e+05,1.000000,1.090000,6.000000,2.860000,0.000000,436.000000,0.000000,16.700000,2.095200e+05
25%,4.350000e+05,2.000000,4.500000,9.000000,3.080000,8.000000,2614.000000,1484.000000,36.100000,4.636440e+05
50%,5.850000e+05,2.000000,4.930000,9.000000,3.400000,114.000000,2614.000000,2183.000000,50.000000,5.968200e+05
75%,7.220000e+05,3.000000,5.580000,10.000000,3.670000,121.000000,3049.000000,2728.000000,59.500000,7.377500e+05
max,3.686000e+06,4.000000,8.080000,22.000000,4.200000,131.000000,7405.000000,6422.000000,93.900000,3.973508e+06

In [45]:
chicago.dtypes

Address            object
Neighborhood       object
HouseType          object
Price               int64
Bath              float64
CrimeIndex        float64
MinutesToLoop       int64
MilesToLake       float64
Age                 int64
LotSizeSqft         int64
HouseSizeSqft       int64
SchoolIndex       float64
EstimatedPrice    float64
dtype: object

In [50]:
X_columns = ['Bath','CrimeIndex','MinutesToLoop','MilesToLake','Age','LotSizeSqft', 'HouseSizeSqft','SchoolIndex']

In [51]:
Y = chicago.Price

In [67]:
Xtrain, Xtest, Ytrain, Ytest = sklearn.model_selection.train_test_split(chicago[X_columns],Y, train_size=0.7)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [68]:
lr = sklearn.linear_model.LinearRegression()
lr.fit(Xtrain,Ytrain)
sklearn.metrics.r2_score(Ytest, lr.predict(Xtest))

-0.87132160950994608

In [69]:
dummy = sklearn.dummy.DummyRegressor()
dummy.fit(Xtrain, Ytrain)
sklearn.metrics.r2_score(Ytest, dummy.predict(Xtest))

-0.0023107317053427945

In [70]:
plt.scatter(Ytest, lm.ElasticNet.predict(Xtest))

TypeError: predict() missing 1 required positional argument: 'X'

In [71]:
#should try this with median absolute error as well

In [ ]:
#Pauls favourite regressor - RANSAC, Theil-Sen, Huber 
#
#

In [ ]:
## Random forest -- 1st one to go for usually (for linear go do the above three)